@using Microsoft.AspNetCore.Identity
@model ICollection<ApplicationUser>
@inject UserManager<ApplicationUser> UserManager;

<h1>Списък с потребители</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Имейл</th>
            <th>Потребителско име</th>
            <th>Роля</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    @{
                        var userRole = await UserManager.GetRolesAsync(user);
                        if (userRole.Any())
                        {
                            <span>@userRole.First()</span>
                        }
                        else
                        {
                            <span>Няма роля</span>
                        }
                    }
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="EditUserById" asp-route-userId="@user.Id">Редактирай</a>
                    <a class="btn btn-danger btn-sm" asp-action="DeleteUserById" asp-route-userId="@user.Id">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>