<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Орис Поличба ООД</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/lib/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="/lib/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/lib/aos/aos.css" rel="stylesheet" />

</head>
<body>
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container position-relative d-flex align-items-center justify-content-between">

            <a asp-area="" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center me-auto me-xl-0">
                <img src="/images/SiteLogo.png">
                <h1 class="sitename">ОРИС ПОЛИЧБА ООД</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                @if (User?.Identity?.IsAuthenticated ?? false)
                {
                    <ul>
                        <li><a asp-route-userId="@User.Id()" asp-controller="Client" asp-action="CreateEnquiry">Задай своя въпрос</a></li>
                        <li><a asp-route-userId="@User.Id()" asp-controller="Client" asp-action="ShowMyEnquries">Моите въпроси</a></li>
                        <li><a asp-controller="Client" asp-action="SeeAllSeers">Всички гадатели</a></li>
                        @if (User.IsInRole("Seer"))
                        {
                            <li><a asp-route-userId="@User.Id()" asp-controller="Seer" asp-action="MySeerEnquries">Моите гадателства</a></li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#"><span>Админ</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                                <ul>
                                    <li><a asp-controller="Admin" asp-action="SeeAllEnquries">Всички гадателства</a></li>
                                    <li><a asp-controller="Admin" asp-action="SeeAllUsers">Всички потребители</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                }
                <partial name="_LoginPartial" />
            </nav>
            @* <a class="cta-btn" href="#about">Get Started</a> *@
        </div>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Oрис Поличба ООД <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/aos/aos.js"></script>
    <script src="~/lib/glightbox/js/glightbox.min.js"></script>
    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/imagesloaded/imagesloaded.pkgd.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>