@model AccountResetEmailViewModel
@{
    ViewBag.Title = "Смяна на имейл";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <section id="reset-email" class="contact section dark-background">
        <div class="container section-title pt-5 mt-5" data-aos="fade-up">
            <h2>Смяна на имейл</h2>
            <p>Моля, попълнете формата за да промените вашия имейл адрес.</p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger mt-5" })
        </div>

        <div class="container" data-aos="fade" data-aos-delay="100">
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Текущ имейл</h3>
                            <p>Въведете текущият си имейл адрес.</p>
                        </div>
                    </div>

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-lock flex-shrink-0"></i>
                        <div>
                            <h3>Парола</h3>
                            <p>Въведете вашата парола за потвърждение.</p>
                        </div>
                    </div>

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-envelope-plus flex-shrink-0"></i>
                        <div>
                            <h3>Нов имейл</h3>
                            <p>Въведете новият си имейл адрес.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <form method="post" asp-controller="Account" asp-action="ResetEmail" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                        @Html.AntiForgeryToken()
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <input asp-for="OldEmail" id="OldEmail" class="form-control" type="email" placeholder="Текущ имейл" />
                                @Html.ValidationMessageFor(m => m.OldEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <input asp-for="Password" id="Password" class="form-control" type="password" placeholder="Парола" />
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <input asp-for="NewEmail" id="NewEmail" class="form-control" type="email" placeholder="Нов имейл" />
                                @Html.ValidationMessageFor(m => m.NewEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="submit">
                                    Изпрати
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
