@model ChangeEnquiryByIdViewModel
<h1>Промени въпроса си</h1>

<form asp-action="ChangeEnquiryById" method="post">
    <div class="form-group">
        <label asp-for="ClientName" class="control-label">Пълно име</label>
        <input asp-for="ClientName" class="form-control" />
        <span asp-validation-for="ClientName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClientBirthDate" class="control-label">Рожденна дата</label>
        <input asp-for="ClientBirthDate" class="form-control" type="date" />
        <span asp-validation-for="ClientBirthDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Въпрос</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="EnquiryTypeId" class="control-label">Избери си вид гадаене</label>
        <select asp-for="EnquiryTypeId" class="form-control" asp-items="@(new SelectList(Model.EnquiryTypes, "Id", "Name"))">
            <option value="" disabled selected>-- Избери вид --</option>
        </select>
        <span asp-validation-for="EnquiryTypeId" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ClientId" value="@User.Id()" />
    <input type="hidden" asp-for="EnquiryId" value="@Model.EnquiryId" />
    <input type="hidden" asp-for="SeerId" value="@Model.SeerId" />

    <button type="submit" class="btn btn-primary">Запази промяната</button>
</form>

<div>
    <a asp-action="ShowMyEnquries" asp-controller="Client" asp-route-userId="@User.Id()">Върни се обратно</a>
</div>

