@model ICollection<Enquiry>

<h1>Моите гадателства</h1>

@if (!Model.Any())
{
    <p>За момента нямаш зададени гадателства.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Име на клиента</th>
                <th>Вид Гадателство</th>
                <th>Статус</th>
                <th>Описание на въпроса</th>
                <th>Дата на изпращане</th>
                <th>Прогрес</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enquiry in Model)
            {
                <tr>
                    <td>@enquiry.ClientName</td>
                    <td>@enquiry.EnquiryType?.Name</td>
                    <td>@enquiry.EnquiryStatus?.Status</td>
                    <td>@enquiry.Description</td>
                    <td>@enquiry.ApplicationUserBirthday.ToShortDateString()</td>
                    <td>
                        Изпратено на: @(enquiry.EnquirySentToCheck?.ToShortDateString() ?? "N/A")<br />
                        Влязло в прогрес на: @(enquiry.EnquiryCheckInProgress?.ToShortDateString() ?? "N/A")<br />
                        Завършено на: @(enquiry.EnquiryCheckFinished?.ToShortDateString() ?? "N/A")
                    </td>
                    <td>
                        @if (enquiry.EnquiryStatusId >= 1 && enquiry.EnquiryStatusId <= 3)
                        {
                            <a class="btn btn-primary btn-sm" asp-action="UpdateEnquiryById" asp-route-enquiryId="@enquiry.Id" asp-route-userId="@enquiry.ApplicationUserId">Промяна</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
